* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.homepage {
  background-color: #7077a1;
}

.mochi-page {
  background-color: #c6dcba;
}

.tiramisu-page {
  background-color: #f7eedd;
}

.veg-korma-page {
  background-color: #ffcf96;
}

/* body h1 { */
/*   font-size: 3rem; */
/* } */

.mochi-page h1 {
  background-color: #8ca181;
}

.tiramisu-page h1 {
  background-color: #b3a998;
}

.veg-korma-page h1 {
  background-color: #bf9c73;
}

.title-level-1 {
  background-color: #5e6382;
  margin-bottom: 2em;
  font-size: 3rem;
}

.title-level-1,
.recipes-list li a {
  color: white;
}

.recipes-list li a {
  text-decoration: none;
  margin: 0 auto;
}

h3 {
  font-size: 1.5em;
  background-color: #5e6382;
}

.recipes-list li {
  display: inline-block;
  list-style: none;
  margin: 5em;
  background-color: #697099;
  /* padding: 1em; */
}

.recipes-list li a img {
  display: block;
  margin: 1em;
}

body p,
.ingredients-list,
.steps-list {
  font-size: 20px;
}

ul li,
ol li {
  line-height: 2;
}

.ingredients-list,
.steps-list {
  display: inline-block;
}

.ingredients-list li,
.steps-list li {
  text-align: left;
}

.ingredients-list li {
  list-style: square;
}

.container-box {
  margin: 0 auto;
  width: 700px;
  padding: 1em;
}

.container-box.veg-korma {
  background-color: #f7c991;
}

.container-box.mochi {
  background-color: #bdd3b1;
}

.container-box.tiramisu {
  background-color: #efe6d5;
}
